.Login {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    top:0;
    left: 0;
    justify-content: center;
    align-items: center;
    // background-color: #61CBF4;
    background: linear-gradient(#61CBF4 70%, #fff);

    .Wrapper{
        width: 400px;
        height: 450px;
        background-color: rgba(251, 252, 252, 1);
        box-shadow: 3px 3px 10px gray;
        border-radius: 25px;

        .title{
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            padding: 5%;
            font-weight: 600;
            font-size: 1.75rem;
            & + div{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            span{
                margin-left: 10px;
                font-size: 2.3rem;
            }
        }

        .acc_input{
            padding: 5px;
            padding-left: 10px;
            border: none;
            height: 2rem;
            font-size: 1.4rem;
            outline: none;
            width: 90%;
            /*background-color: rgba(193, 229, 245);*/
            background-color: rgba(251, 252, 252, 1);
            border-bottom: 1px solid #b6b6b6;
            color: rgb(97, 106, 107);
            &:focus {
                color: #000;
                background-color: rgba(253, 254, 254, 1);
            }
            & + .acc_input {
                margin-top: 10px;
            }
        }

        .btn.wrapper{
            width: 100%;
            display: flex;
            justify-content: center;

            .btn.login{
                width: 125px;
                height: 40px;
                font-size: 1rem;
                margin: 0 auto;
                margin-top: 20px;
                cursor: pointer;
                border: none;
                border-radius: 7px;
                background-color: rgba(78, 149, 217);
                font-size: 1.25rem;
                color: #fff;
                &:hover{
                    color: rgba(0, 0, 240, 0.75);
                    background-color: #fff;
                }
            }

            &.register{
                justify-content: flex-end;
                margin-top: 10px;
                margin-bottom: 20px;
                a {
                    padding-right: 10px;
                    font-weight: 500;
                    &:hover{
                        color: white;
                    }
                }

            }

            .btn_sns{
                display: block;
                width: 250px;
                height: 40px;
                background: rgb(167, 240, 167);
                text-align: center;
                line-height: 40px;
                margin-top: 10px;
            }
        }
    }
}